<div class="biv_constant">
  <div class="biv_constant__item">
    <span class="number">52</span>
    <span class="label">ans</span>
  </div>
  <div class="biv_constant__item">
    <span class="number">190</span>
    <span class="label">cm</span>
  </div>
  <div class="biv_constant__item">
    <span class="number">12</span>
    <span class="label">kg</span>
  </div>
  @if(!isSmall){
  <div class="biv_constant__item">
    <span class="number">4</span>
    <span class="label">BMI</span>
  </div>
  <div class="biv_constant__item">
    <span class="number">-</span>
    <span class="label">BSA</span>
  </div>
  <div class="biv_constant__item">
    <span class="number">80</span>
    <span class="label">kg (PIT)</span>
  </div>
  }
</div>
