<div class="biv" [class.biv__small]="isSmall">
  <ecs-biv-identification
    [isSmall]="isSmall"
    [nameUsed]="nameUsed"
    [birthName]="birthName"
    [firstnameUsed]="firstnameUsed"
    [birthFirstname]="birthFirstname"
    [gender]="gender"
    [birthDate]="birthDate"
    [ins]="ins"
    [ipp]="ipp"
    [insIsVerified]="insIsVerified"
    [age]="age"
    [weight]="weight"
    [bed]="bed"
    [date]="date"
    class="biv_item"
  ></ecs-biv-identification>
  <ecs-biv-constant [isSmall]="isSmall" class="biv_item"></ecs-biv-constant>
  <ecs-biv-allergy [isSmall]="isSmall" class="biv_item"></ecs-biv-allergy>
</div>
